<div class="row form">
  <div class="col-lg-12">
    <h3>質問「<%= @question.text %>」への回答を編集しました。</h3>
    <%= link_to "自分の回答を見る", user_path(current_user) %>
    <%= link_to "ホームに戻る", root_path %>
  </div>
</div>