.tweets {
  padding: 60px 0;
}

.tweet {
  width: 660px;
  height: 400px;
  margin: 20px auto;
  background-color: #fefefe;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  color: #333;
  padding: 20px 20px;
  background-size: cover;
  position: relative;
}

.tweet-text {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #fff;
  text-shadow:0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}  
  