<form action="/tweets" method="post">
    <h3>投稿する</h3>
    <input type="text" name="image" placeholder="Image URL">
    <textarea name="text" placeholder="text"></textarea>
    <input type="submit" value="SEND">
</form>    