<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.scss">
    <title>BLOG</title>
<style>
 h1 {
  color: red;
  background-color: aliceblue;
  height: 100px;
  font-size:30px
  margin: 10px;
  padding-top: 4px;
  padding-left:4px
  border: solid 1px;
  text-align: center;
  
 }
 h2 {
  color: blue;  
  height: 40px;
  font-size: 30px;
  margin: 10px:
  padding: 4px:
  
  
 }  

</style>
</head>

<body>
  <h1>始めてのBlog</h1>
  <h2>プロフィール</h2>
  <h3>Name</h3> 
    <p>WATARU</p>
    <p>プログラミング歴4ヶ月です。</p>
  <h3>見出し</h3>
  <p>News</p>
  <ul>
    <li>天気</li>
  </ul>  
  <p>Topic</p>
  <ul>
    <lo>近況</lo>
  </ul>  
  　<img src=".." alt="画像">
    <a href="#">リンク</a>  
</body>

</html>